<nav
  class="d-flex flex-row flex-nowrap justify-content-start align-items-center bg-danger p-3"
>
  <a href="" class="text-decoration-none text-white mx-2"
    >👻🎃Caldeirão furado🎃👻</a
  >
  <a href="" class="text-decoration-none text-white mx-2">Inicio🎃</a>
  <a href="" class="text-decoration-none text-white mx-2">Fale conosco🎃</a>
  <a href="" class="text-decoration-none text-white mx-2"
    >Suporte de Hogwarts</a
  >
</nav>

<div class="container-fluid px-5 py-2">
  <input type="search" class="form-control" />
</div>
